obj/**/*.o
libft/**/*.o
MLX42
.gitmodules
copy_files_to_another_branch.sh
miniRT
libft/libft.a
*.a
*.txt
object/hit_cylinder_old.c
math/rot.c
math/quater.c
math/vec4.c
math/vec2.c
Precompiled/practice.c